.player-frame {
  @apply inline-block bg-red-400;
  width: 640px;
  height: 520px;
}

.player {
  @apply w-full bg-green-300;
  height: 480px;
}

.player-ctl {
  @apply w-full relative bg-blue-300;
  height: 40px;
}